version: 1.0
app:
  # build id to deploy. if 'version' is commented out, the application is not deployed
  services:
    - crn: 'crn:v1:bluemix:public:mqcloud:us-east:a/26a5e866a11a5014f2eca2acab86f048:123019ac-5871-4f20-8e10-1207b38721fc::'
    # no need for CRN if using a public endpoint
    #- crn: 'crn:v1:bluemix:public:dashdb-for-transactions:us-east:a/26a5e866a11a5014f2eca2acab86f048:f1e09ded-5f2f-4b5b-bc74-f2d593110a0f::'
  version: "696d4760-1394-4086-98ba-3c55d1e9406e"
  # number of instances
  instances:
    # min number of instances. can be 0 for scale to 0. default to 1.
    min: 1
    # max number of instances. defaults to 1 if min == 0, otherwise defaults to min
    max: 1
  resources:
    # max cpu. memory limit is based on cpu value: 1:3 memory ratio, e.g. 1 cpu == 4 gb
    cpu: 1
  # Whether to expose the application publically or not
  endpoints: public

  # List of environment variables that are set for the application
  env:
    #- name: JVM_ARGS
    #  value: "-DenvironmentType=prod"
    - name: test_Value
      value: "testData"
    - name: MAX
      value: "5"
  variables:
    - name: io_openliberty_sample_system_inMaintenance
      value: "false"
    - name: httpEndpoint_port
      value: "9080"
    - name: httpEndpoint_secure_port
      value: "9443"
    - name: httpEndpoint_host
      value: "*"

#    - name: NodeDefaultSSLSettings_DefaultCell01_SSLConfig_DefaultNode01_1_sslProtocol
#      value: "TLSv1.3,TLSv1.2"
# DB2
    - name: ModResortsDs_DefaultNode01_DataSource_1723730612222_portNumber
      value: "30518"
      #public hostname is different to private one
    - name: ModResortsDs_DefaultNode01_DataSource_1723730612222_serverName
      value: "eba962d1-9a71-42f7-a322-0853e4084502-useast-private.bt1ibm.db2.ibmappdomain.cloud"
    - name: ModResortsDs_DefaultNode01_DataSource_1723730612222_databaseName
      value: "BLUDB"
# MQ
    - name: MMXQueueConnectionFactory_demo_data_vm1Node01_MQQueueConnectionFactory_1680277838658_channel
      value: "CLOUD.APP.SVRCONN"
    - name: MMXQueueConnectionFactory_demo_data_vm1Node01_MQQueueConnectionFactory_1680277838658_host
      value: "amamodresortsqm1-51df.qm1230.private.us-east.mq2.appdomain.cloud"
    - name: MMXQueueConnectionFactory_demo_data_vm1Node01_MQQueueConnectionFactory_1680277838658_queueManager
      value: "AMAModResortsQM1"
    - name: MMXQueue_demo_data_vm1Node01_MQQueue_1680278221800_baseQueueName
      value: "DEV.QUEUE.1"
